.MainPic{
    position: relative;

    &_bgdark {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    &_img {
        background-image: url("https://images.unsplash.com/photo-1525596201491-f6eae338a205?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80");
        height: 400px;
        background-size: cover;
        background-position: bottom;
    }

    &_txt {
        font-family: "BernhardScriptW01-bolder";
        font-style: normal;
        z-index: 200;
    }
}